<input type="checkbox" id="cloud-menustate" class="cloud-menustate" style="display:none;">
<div class="mobile-backed"></div>
<header class="main-header">
    <div class="container">
        <div class="row">
            
            <div class="main-header__logo-wrapper">
                <img src="/svg/logo.svg" class="main-header__logo-img" alt="Cloud Castles logo">
            </div>

            <div class="main-header__menu-wrapper">
                <div class="top-row__hamb-col">
                    <label class="cloud-menuicon-label" for="cloud-menustate" aria-hidden="true">
                    <span class="cloud-menuicon-bread cloud-menuicon-bread-top">
                        <span class="cloud-menuicon-bread-crust cloud-menuicon-bread-crust-top"></span>
                    </span>
                    <span class="cloud-menuicon-bread cloud-menuicon-bread-middle">
                        <span class="cloud-menuicon-bread-crust cloud-menuicon-bread-crust-middle"></span>
                    </span>
                    <span class="cloud-menuicon-bread cloud-menuicon-bread-bottom">
                        <span class="cloud-menuicon-bread-crust cloud-menuicon-bread-crust-bottom"></span>
                    </span>
                    </label>
                    <a href="#cloud-menustate" role="button" class="cloud-menuanchor cloud-menuanchor-open" id="cloud-menuanchor-open">
                    <span class="cloud-menuanchor-label">Global Nav Open Menu</span>
                    </a>
                    <a href="#" role="button" class="cloud-menuanchor cloud-menuanchor-close" id="cloud-menuanchor-close">
                    <span class="cloud-menuanchor-label">Global Nav Close Menu</span>
                    </a>
                </div>

                <div class="top-row__menu-col">
                    <div class="menu-col__inner">
                        <ul class="menu-col__language-switcher">
                            <li>En</li>
                        </ul>
                        <hr class="menu-col__hr">
                        <a href="/" class="menu-col__logo-link">
                            <img src="/svg/logo.svg" class="menu-col__logo-img" alt="Cloud Castles logo">
                        </a>
                        {{ $currentPage := . }}
                        {{- with .Site.Menus.main -}}
                        <ul class="menu-col__elements-list">
                            {{- range . -}}
                            <li class="menu-col__element">
                                <a href="{{- .URL -}}" class="menu-col__element-anchor">{{- .Name -}}</a>
                            </li>
                            {{- end -}}
                        </ul>
                        {{- end -}}
                        
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</header>