<section class="team-section" id="{{- .sectionId -}}">
    <div class="row">
        <div class="team-section__top">
            <h3 class="team-section__top-title">
                {{- .title -}}
            </h3>

            <h2 class="team-section__top-heading">
                {{- .heading -}}
            </h2>
        </div>    
    </div>
    <div class="row">
        <div class="container">
            <div class="team-section__list">
                {{- range .team -}}
                    <div class="team-section__list-item">
                        <div class="team-item__image-wrapper">
                            <img src="{{- .image -}}" alt="{{- .name -}}" class="team-item__image-img">
                        </div>
                        <div class="team-item__meta-wrapper">
                            <h4 class="team-item__meta-name">
                                {{- .name -}}
                                <a href="{{.linkedin}}" target="_blank" title="{{- .name -}}" class="team-item__meta-social">
                                    <span class="meta-linkedin"></span>
                                </a>
                            </h4>
                            <p class="team-item__meta-position">
                                {{- .position -}}
                            </p>
                            <div class="team-item__meta-description">
                                {{- .description | markdownify -}}
                            </div>
                        </div>
                    </div>
                {{- end -}}
            </div>
        </div>
    </div>


</section>