.sosivio-section{
    margin-bottom: 3.5rem;
    
    &__background{
        &-col{
            width: 100vw;
            height: 258px;
        }

        &-fill{
            background-size: cover;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-icon{
            width: 110px;
            height: 110px;

        }
    }

    &__text{
        
        &-col{
            padding-top: 3.5rem;
        }

        &-heading{
            font-weight: 700;
            font-size: 2rem;
            line-height: 3.06rem;
            color: var(--color-black);
            text-align: center;
        }

        &-content{
            font-family: 'Nunito', sans-serif;
            font-size: 0.875rem;
            line-height: 1.42rem;
            color: var(--color-black);
            margin-bottom: 1.75rem;
        }
    }

    &__button{
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        padding: 14px 32px 9px;
        width: 91px;
        font-family: 'Nunito', sans-serif;
        box-sizing: content-box;

        border: 1px solid #37A7D8;
        border-radius: 4px;

        &-link{
            font-family: 'Nunito', sans-serif;
            text-decoration: none;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
}


@media screen and (min-width: 768px){
    .sosivio-section{
        margin-bottom: 0;

        &__background{
            &-col{
                height: initial;
            }

            &-fill{
                height: 100%;
            }

            &-icon{
                width: 220px;
                height: 220px;
            }
        }

        &__background-col,
        &__text-col{
            flex-basis: 50%;
        }

        &__text-col{
            padding-top: 6rem;
            padding-bottom: 6rem;
            text-align: left;
        }

        &__text-heading,
        &__text-content{
            padding-left: 5.4rem;
        }

        &__text-heading{
            font-size: 3rem;
            line-height: 4rem;
            margin-bottom: 1.5rem;
        }

        &__button{
            margin: initial;    
            margin-left: 5.4rem;
        }

        &__text-heading{
            text-align: left;
        }

        &__text-content{
            max-width: 497px;
        }
    }
}