.technology-section{
    background-color: #37A7D8;
    padding-bottom: 3.5em;

    &__top{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.5rem 1.5rem 2rem;
        width: 100%;

        &-title{
            color: var(--color-blue100);
            letter-spacing: 4px;
            font-family: 'Nunito', sans-serif;
            font-size: 0.641rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        &-heading{
            padding: 0;
            margin: 0;
            margin-bottom: 15px;
            color:#fff;
            font-size: 1.5rem;
            line-height: 2rem;
            padding: 0;
            margin: 0;
        }
    }

    &__tools{
        padding: 0 1.45rem;
    }
    
    &__tool{
        &-icon{
            margin-right: 1rem;
        }

        &-heading{
            color: #0D3F56;
            font-size: 2rem;
            line-height: 3rem;
            margin-bottom: 10px;
        }

        &-description{
            color: #fff;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 400;
            font-family: 'Nunito', sans-serif;
            margin-bottom: 2.25rem;
        }

        &-block{
            position: relative;

            &:not(:last-child):after{
                content: '';
                position: absolute;
                bottom: -14px;
                left: 0;
                width: 100%;
                height: 1px;
                border-bottom: 2px dashed #fff;
            }
        }
    }
}

.tool-block{
    position: relative;

    &__heading{
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2.25rem;
        color: #fff;
        margin-bottom: 5px;
    }

    &__description{
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #fff;
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
        list-style: none;
        padding: 0;

        &-element{
            margin-bottom: .5rem;
        }

        &--inline{
            .tool-block__description-element{
                display: inline-block;
                margin-right: 2rem;
            }
        }

        &--list{
            list-style-type: '-  ';
            padding-left: 15px;
        }
    }

    &__after-list{
        font-family: 'Nunito', sans-serif;
        font-size: 0.875rem;
        color: #fff;
    }
}