body {
  background: #fdf9f4; }

#menu, #mobile-menu {
  background: #f58221; }

.btn {
  color: #fff; }
  .btn.btn-outline-primary {
    color: #f58221; }
    .btn.btn-outline-primary:hover {
      color: #fff;
      background-color: #f58221; }

.rate-stars {
  line-height: 1em;
  position: relative;
  margin: 0px auto;
  height: 1em;
  width: 5em;
  display: inline-block; }
  .rate-stars .star {
    display: inline-block;
    line-height: 1em;
    width: 1em;
    height: 1em;
    text-align: center; }
    .rate-stars .star svg {
      width: 0.8em;
      height: 0.8em;
      margin-top: -0.2em;
      fill: RGBA(0, 0, 0, 0.2); }
  .rate-stars .rate-stars-filled {
    position: absolute;
    top: 0;
    width: 85%;
    height: 1em;
    overflow: hidden; }
    .rate-stars .rate-stars-filled .star {
      position: absolute; }
      .rate-stars .rate-stars-filled .star svg {
        fill: orange; }
  .rate-stars .rate-stars-backdrop {
    fill: RGBA(0, 0, 0, 0.3); }

.review-item {
  text-align: left;
  min-height: 60px;
  margin-bottom: 2em;
  position: relative; }
  .review-item .review-item-photo {
    width: 60px;
    position: absolute;
    top: 0; }
  .review-item .review-item-rate, .review-item .review-item-text, .review-item .review-item-author {
    margin-left: 75px; }
  .review-item .review-item-text {
    font-size: 90%; }
